bin/
obj/
/.idea/
/packages/
riderModule.iml
/_ReSharper.Caches/
WebApplication6/ClientApp/node_modules/
WebApplication6/ClientApp/.angular/
WebApplication6/ClientApp/public/
WebApplication6/ClientApp/public/*
WebApplication6/wwwroot/app/
WebApplication6/wwwroot/uploads/*