@let image = photo().image;
@if (image !== null) {
<!--  <article class="art-card" cdkDrag>-->
  <article class="art-card">
    <div class="art-image">
      <img
        [ngSrc]="image.url"
        [width]="image.width"
        [height]="image.height"
        [alt]="image.altText || photo.name || 'Artwork'" />
    </div>
    <div class="art-card-details">
      <span>
        <button style="background-color: green; color: white; font-size: 18px;">{{ photo().order }}</button>
      </span>
      <div class="art-card-user-field">
        <h3>{{ photo().name }}</h3>
<!--        <input type="checkbox" />-->
        @if (!this.togglingDisplaysName()){
        <button [style]="'background-color: ' + displaysNameColor()" (click)="toggleDisplaysName()"></button>
        }
      </div>
      <div class="art-card-user-field">
        <p>{{ photo().description || 'No description' }}</p>
        <input type="checkbox"/>
      </div>
      <div class="art-card-user-field">
        <p>{{ photo().yearContentCreated || '' }} </p>
        <input type="checkbox" />
      </div>
    </div>
  </article>
}
