<main class="app-user-art">
  <section class="workspace">
    <header class="topbar">
      <div>
        <p class="eyebrow">ASP.NET MVC + Angular + PostgreSQL</p>

      </div>

    </header>

    <form (ngSubmit)="uploadImage()">
      <input
        type="file"
        accept="image/png,image/jpeg,image/webp"
        (change)="onFileSelected($event)"
      />

      @if (previewImageUrl){
        <img [src]="previewImageUrl" alt="Selected image preview" width="240" />
      }

      @if (imageUploadError){
        <p>{{ imageUploadError }}</p>
      }

      <button type="submit" [disabled]="!selectedFile || imageIsUploading">
        {{ imageIsUploading ? 'Uploading...' : 'Upload' }}
      </button>
    </form>

<!--      @if (imagesIsLoading()){-->
<!--        <p class="empty-state">Loading images...</p>-->
<!--      } @else if (urls.length === 0){-->
<!--        <p class="empty-state">No images yet.</p>-->
<!--      } @else {-->
<!--&lt;!&ndash;        <ul aria-label="Uploaded images">&ndash;&gt;-->
<!--&lt;!&ndash;          @for (image of images(); track image.id){&ndash;&gt;-->
<!--&lt;!&ndash;              <li class="image-row">&ndash;&gt;-->
<!--&lt;!&ndash;                <img [src]="image.storagePath" alt="Uploaded image" width="240" />&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <button type="button" class="text-button" (click)="deleteImage(image)">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  Delete&ndash;&gt;-->
<!--&lt;!&ndash;                </button>&ndash;&gt;-->
<!--&lt;!&ndash;              </li>&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->
<!--        <div class="image-grid">-->
<!--        @for (url of urls; track url){-->
<!--          <img [src]="url" width="240"  alt=""/>-->
<!--        }-->
<!--        </div>-->
<!--      }-->

    <br><br><br>

  </section>

  <section>
    <br>
    <img ngSrc="3bc22964-fa59-4f06-9791-96486c8b4ee4.png" alt="Loaded image" width="646" height="771" priority>
    <br>
<!--    <ng-content>-->
<!--      <ng-component *ngComponentOutlet="ImageLoader"></ng-component>-->
<!--    </ng-content>-->

  </section>
</main>
