<!--<section class="card upload-card">-->
<section class="card portfolio-card">
<!--    <label class="field-label" for="albums">Album</label>-->
  <div class="styling-select-container">
    <label for="stylings">Styling</label>
    <select
      class="styling-select"
      name="stylings"
      id="stylings"
      [(ngModel)]="selectedStyleLayout"
    >
      <option [ngValue]="null">Page Styling</option>
      @for (s of stylingLayouts(); track s){
        @let sCapitalized = s.at(0)!.toLocaleUpperCase() + s.substring(1, s.length);
        <option [ngValue]="s">{{ sCapitalized }}</option>
      }
    </select>
    <div class="styling-select-buttons">
      <button>preview</button>
      <button (click)="onApplyStyling()">apply</button>
    </div>

  </div>

  <div class="styling-navigation-container">
    <button>Edit Navigation Order</button>
  </div>


<!--  <div class="card-heading upload-heading">-->
<!--    <div>-->

<!--&lt;!&ndash;      <h2>Upload artwork</h2>&ndash;&gt;-->
<!--    </div>-->
<!--&lt;!&ndash;    <span class="upload-helper">PNG, JPG, or WebP · 5 MB max</span>&ndash;&gt;-->
<!--  </div>-->

</section>
