<main class="app-edit-albums">
  <section class="workspace">
    <header class="topbar">
      <div>
        <p class="eyebrow">ASP.NET MVC + Angular + PostgreSQL</p>

      </div>

    </header>


    <div>
      <label class="dropdown-header" for="albums">My Albums</label>
        <select class="dropdown-button" name="albums" id="albums" [(ngModel)]="selectedAlbumId" (change)="onSelectedAlbumChange()">
          <option class="dropdown-header" [ngValue]="null">My Albums</option>
          @for (album of albumDTOs(); track album.id){
            <option [ngValue]="album.id">{{ album.name }}</option>
          }
      </select>

      @if (selectedAlbumId == null){
        <p>No album selected<p>
      } @else {
        <p>Selected album Id is <strong>{{ selectedAlbumId }}</strong></p>
      }

    </div>

    <br><br><br>
    <div>


      <form class="composer" (ngSubmit)="createAlbum()">
        <label for="newAlbum">Create New</label>
        <div class="composer-row">
          <input
            id="newAlbum"
            name="newAlbum"
            type="text"
            maxlength="50"
            autocomplete="off"
            [(ngModel)]="newAlbumTitle"
          />
          <input
            id="newAlbum"
            name="newAlbum"
            type="text"
            maxlength="50"
            autocomplete="off"
            [(ngModel)]="newAlbumDescription"
          />
          <button type="submit" [disabled]="creatingAlbum()">
            {{ creatingAlbum() ? 'Saving' : 'Create' }}
          </button>
          </div>
      </form>

    </div>
    <br><br><br>
<!--    <form (ngSubmit)="uploadImage()">-->
<!--      <input-->
<!--        type="file"-->
<!--        accept="image/png,image/jpeg,image/webp"-->
<!--        (change)="onFileSelected($event)"-->
<!--      />-->

<!--      @if (previewImageUrl){-->
<!--        <img [src]="previewImageUrl" alt="Selected image preview" width="240" />-->
<!--      }-->

<!--      @if (imageUploadError){-->
<!--        <p>{{ imageUploadError }}</p>-->
<!--      }-->

<!--      <button type="submit" [disabled]="!selectedFile || imageIsUploading">-->
<!--        {{ imageIsUploading ? 'Uploading...' : 'Upload' }}-->
<!--      </button>-->
<!--    </form>-->




  </section>
</main>
